/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

nav.wp-block-launchpad-blocks-nav-list {
	position: relative;
	width: 100%;
	transition: height var(--navigation-menu-open-close-timing) ease-in-out;
}

.navigation-nav-list {
	padding: 0;
	display: flex;
	list-style: none;
	margin: 0;
	gap: var(--wp--style--block-gap);
}

.wp-block-launchpad-blocks-navigation[data-is-menu-collapsed="collapsed"]
	nav.wp-block-launchpad-blocks-nav-list
	> .navigation-nav-list,
.menu-group-list-item-submenu
	> .wp-block-launchpad-blocks-nav-list
	> .navigation-nav-list {
	flex-direction: column;
}
