/**
 * The following styles get applied inside the editor only.
 */
.object-values,
.array-values {
	.object-values,
	.array-values {
		border-inline-start: 2px solid;
		padding-inline-start: 4px;
		margin-inline-start: 2px;
	}
}

.dynamic-tag {
	display: inline-block;
	background: #eee;
	padding: 0.25rem;
	margin-inline-end: 0.25rem;

	&:hover {
		background: #ddd;
	}
}
