/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-launchpad-blocks-carousel-slide-count {
	gap: 1ch !important; // 1 character width to emulate a space
	color: inherit;
}

.carousel-navigation-inner-area
	> .wp-block-launchpad-blocks-carousel-slide-count:only-child {
	height: 100%;
	align-items: center;
}
