/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-gallery-carousel
	> .wp-block-launchpad-blocks-carousel-slides {
	// Config values
	--gap: 0.5em;
	--min-column-width: 8rem;

	// Calculated values
	--gap-count: calc(var(--column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--gap));
	--max-column-width: calc(
		(100% - var(--total-gap-width)) / var(--column-count)
	);

	// Autofill columns up to a maximum of --column-count
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(max(var(--min-column-width), var(--max-column-width)), 1fr)
	);
	gap: var(--gap);

	.wp-block-image {
		aspect-ratio: var(--slide-aspect-ratio);
		width: 100%;
		height: auto;
	}
}

.wp-block-launchpad-blocks-gallery-carousel
	.wp-block-launchpad-blocks-carousel {
	max-width: max(80%, 350px);
}
