/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-cloudcall-blocks-info-banner {
	/* This variable is called in JS so update the JS if you change this variable name */
	--cloudcall-banner-show-hide-timing: 0.6s;

	position: relative;
	margin-block: var(--wp--preset--spacing--0);
	transition: height 0.4s ease-in-out;
	padding-inline: var(--wp--preset--spacing--4) !important;

	.info-banner-inner-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		gap: var(--wp--preset--spacing--2);

		> p {
			padding-block: var(--wp--preset--spacing--2);
			margin: var(--wp--preset--spacing--0);
		}
	}

	.dismiss-button {
		/* stylelint-disable-next-line declaration-property-value-allowed-list */
		background-color: transparent;
		border: none;
		/* stylelint-disable-next-line declaration-property-value-allowed-list */
		color: inherit;
		margin: var(--wp--preset--spacing--0);
		padding: var(--wp--preset--spacing--2);
		line-height: 0;
		cursor: pointer;

		> svg {
			aspect-ratio: 1;
			width: 1rem;
		}
	}
}
