/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-nav-links-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.nav-links-group-heading {
		margin-block: 0;
	}
}
