/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-nav-links-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.nav-links-group-heading {
		margin-block: 0;
	}

	&.is-style-default,
	&:not([class^="is-style"], [class*=" is-style"]) {
		.nav-links-group-heading.is-style-reset {
			font-size: 1em;
			font-weight: 400;
		}
	}
}

.wp-block-launchpad-blocks-navigation {
	.wp-block-launchpad-blocks-nav-links-group
		> .wp-block-launchpad-blocks-nav-list {
		padding-inline-start: 0.5rem;
		border-left: 2px solid;
	}
}
