/**
 * The following styles get applied inside the editor only.
 */

 // The block preview when adding the icon block was the incorrect size
.block-editor-block-preview__content-iframe.block-editor-iframe__html {
	div[aria-hidden="true"]:has(
			+ .is-root-container.block-editor-block-list__layout
				.wp-block-launchpad-blocks-icon
		) {
		position: relative !important;
	}

	.is-root-container.block-editor-block-list__layout:has(
			.wp-block-launchpad-blocks-icon
		) {
		position: absolute;
		top: 0;
		left: 0;
	}
}
