/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-logo-banner {
	overflow: auto;
	pointer-events: none;

	.scroll-container {
		overflow: auto;
	}

	.images {
		width: 100%;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
	}

	&.is-scrolling {
		overflow: hidden;

		.images {
			width: max-content;
			flex-wrap: nowrap;
		}
	}

	.push-flex-children-to-start {
		flex: 9999 0 auto;
	}

	.wp-block-image {
		width: auto !important;
		flex: 1 0 auto !important;
		margin: auto;
		height: 6.5rem;
		max-width: 12.5rem;

		@media (width >= 640px) {
			height: 7.5rem;
		}

		img,
		picture,
		picture > * {
			height: 100% !important;
			object-fit: contain;
			width: auto;
			margin-inline: auto;
		}

		figcaption {
			display: none;
		}
	}
}
