/**
 * The following styles get applied inside the editor only.
 */

.menu-group-list-item-submenu {
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.menu-group-list-item-submenu .menu-group-list-item-submenu {
	height: auto;
	transform: none;
}

.submenu-open-edit-popover {
	position: absolute;
	padding: 0.5rem;
	background: #fff;
	border: 1px solid #000;
	z-index: 10;
}

.submenu-lightbox-editor {
	background-color: #d3d3d3;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.is-root-container:has(.submenu-lightbox-editor) {
	height: 100%;
}

.wp-block-launchpad-blocks-navigation[data-is-menu-collapsed="expanded"]
	.menu-group-list-item-submenu
	.wp-block-launchpad-blocks-nav-submenu[data-state="open"]
	> .menu-group-list-item-submenu {
	height: auto;
}
