@use "launchpad:shared/mixins";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-media-and-text {
	--breakout-margin: calc(
		(
				min(100vw, var(--body-max-width, 1920px)) - var(
						--wp--style--global--content-size
					)
			) /
			2
	);

	padding: var(--wp--preset-spacing--10)
		var(--wp--custom--site-container-x-padding, 0);

	&.has-background {
		background: var(--wp--preset--color--elevation-low);
	}

	&.is-breakout-left {
		.wp-block-launchpad-blocks-media-and-text__content {
			margin-left: var(--wp--style--root--padding-right);
			margin-right: var(--wp--style--root--padding-right);

			@media screen and (width >= 768px) {
				margin-left: 0;
				margin-right: var(--breakout-margin);
			}
		}
	}

	&.is-breakout-right {
		.wp-block-launchpad-blocks-media-and-text__content {
			margin-left: var(--wp--style--root--padding-right);
			margin-right: var(--wp--style--root--padding-right);

			@media screen and (width >= 768px) {
				margin-left: var(--breakout-margin);
				margin-right: 0;
			}
		}
	}

	&.is-breakout {
		.wp-block-launchpad-blocks-media-and-text__wrapper {
			max-width: 100%;
		}
	}
}

.wp-block-launchpad-blocks-media-and-text__wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--11);
	max-width: var(--wp--style--global--content-size);
	margin-left: auto;
	margin-right: auto;

	@media screen and (width >= 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.wp-block-launchpad-blocks-media-and-text__intro {
	@include mixins.typography-style-eyebrow;

	font-style: normal;
	text-transform: uppercase;
}

.wp-block-launchpad-blocks-media-and-text__image {
	height: 100%;
}

.wp-block-launchpad-blocks-media-and-text__content {
	align-self: center;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
