/**
 * The following styles get applied inside the editor only.
 */
.tab-add-button {
	order: 99999;
}

.tab-panel:not(.show-tab-in-editor) {
	display: none;
}

.tab:focus-visible {
	outline: none;
}
