/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.wp-block-launchpad-blocks-carousel-navigation-arrows {
	--border-radius: 4px;

	&.alignfull {
		padding: 0;

		.carousel-navigation-arrows-container {
			max-width: none;
		}
	}

	.carousel-navigation-arrows-container {
		display: flex;
		gap: 0.5rem;
		align-items: stretch;
	}

	.carousel-navigation-button {
		flex: 0 0 auto;
		padding: var(--wp--preset--spacing--1);
		display: flex;
		align-items: center;
		background-color: var(--background-colour, transparent);
		color: var(--icon-colour, inherit);
		border: none;
		border-radius: var(--border-radius);
		cursor: pointer;
		pointer-events: auto;

		.carousel-navigation-button-icon {
			height: 2rem;
			aspect-ratio: 1;
		}
	}

	.carousel-navigation-inner-area {
		flex: 1 0 1px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;
	}

	&.is-style-overlay {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 5;
		pointer-events: none;

		.carousel-navigation-inner-area > * {
			display: none;
		}

		.carousel-navigation-arrows-container {
			padding: 0 var(--wp--preset--spacing--2);
		}
	}
}
