/**
 * The following styles get applied inside the editor only.
 */

.global-banner-edit-instructions {
	margin-top: 3rem !important;
	color: #667085;
	font-family: var(--typography-font-families-body);

	p {
		font-size: 13px !important;
	}
}
