/**
 * The following styles get applied inside the editor only.
 */
.wp-block-launchpad-blocks-global-banner-output {
	background: repeating-linear-gradient(
		45deg,
		#ddd,
		#ddd 10px,
		#eee 10px,
		#eee 20px
	);
	margin-top: 0;
	padding: 0.5rem;

	> p {
		margin: 0;
	}
}
