/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
:where(button.reset) {
	background-color: transparent;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

.wp-block-launchpad-blocks-gallery-carousel-lightbox[open] {
	display: grid;
	place-items: center;
	max-width: none;
	max-height: none;
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	z-index: var(--wp--custom--z-index--lightbox, 100);
}

.lightbox-close-button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: var(--wp--custom--z-index--lightbox-button, 1);
	width: 2rem;
	height: 2rem;

	svg {
		width: 100%;
		height: 100%;
	}
}
